{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
  <h3>Top Rated</h3>
  <div>
    {% if dashboard_lists.top_rated %}
    <div class="dashboard-grid">
      {% for book in dashboard_lists.top_rated %}
      <div>
        <h4 class="text-center">{{ book.title }}</h4>
        <p class="dashboard__author">- {{ book.author }}</p>
        <div class="dashboard__book-stats">
          <p class="dashboard__rating">{{ book.avg_rating|floatformat:1 }}</p>
          <p>{{ book.reader_count }} readers</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No books are available.</p>
    {% endif %}
  </div>

  <h3>Most Read</h3>
  <div>
    {% if dashboard_lists.most_read %}
    <div class="dashboard-grid">
      {% for book in dashboard_lists.most_read %}
      <div>
        <h4 class="text-center">{{ book.title }}</h4>
        <p class="dashboard__author">- {{ book.author }}</p>
        <div class="dashboard__book-stats">
          <p class="dashboard__rating">{{ book.avg_rating|floatformat:1 }}</p>
          <p>{{ book.reader_count }} readers</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No books are available.</p>
    {% endif %}
  </div>

  <h3>Just Added</h3>
  <div>
    {% if dashboard_lists.just_added %}
    <div class="dashboard-grid">
      {% for book in dashboard_lists.just_added %}
      <div>
        <h4 class="text-center">{{ book.title }}</h4>
        <p class="dashboard__author">- {{ book.author }}</p>
        <div class="dashboard__book-stats">
          <p class="dashboard__rating">{{ book.avg_rating|floatformat:1 }}</p>
          <p>{{ book.reader_count }} readers</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No books are available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}