.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 16px;
}

.dashboard-grid > div {
    padding: 8px 16px;
    box-shadow: 1px 1px 4px lightgrey;
}

.dashboard h3:first-child {
    margin-top: 0px;
}

.dashboard h3 {
    margin: 32px auto 0px;
}

.dashboard__author {
    font-size: small;
    text-align: right;
}

.dashboard__book-stats {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dashboard__rating {
    color: white;
    background-color: #192a42;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: small;
}