<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Books</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css' %}">
</head>
<body>
  <header>
    <h1>Books!</h1>
    <div class="menu">
      <ul>
        <li>
          <a href="{% url 'books:dashboard' %}">
            Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'books:books' %}">
            My Books
          </a>
        </li>
        <li>
          {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}</p>
            <a href="{% url 'core:logout' %}">
              Sign Out
            </a>
          {% else %}
            <a href="{% url 'core:login' %}">
              Sign In
            </a>
          {% endif %}

        </li>
      </ul>
    </div>
  </header>
  <div class="content-window">
    {% block content %}{% endblock %}
    {% block pagination %}
      {% if is_paginated %}
        <div>
          <span>
            {% if page_obj.has_previous %}
              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
    {% endblock %}
  </div>
</body>
</html>